
.container {
    background-image: url("../../../assets/bg.jpg");
    min-height: 73.3vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .error {
        font-size: 15px;
     }
    
     .error-msg{
        color: red;
        font-size: 12px;
    }
    .loginContainer {
        height: 170px;
        width: 300px;
        background: var(--background);
        padding: 50px;
        border-radius: 10px;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        font-family: 'Times New Roman', Times, serif;
        
            div{
                padding: 3px 0px 3px 0px;
            }
        
        .newUser{
            display: flex;
            justify-content: space-evenly;
            position: relative;
            top: 10px;

            span{
                color: #1b556d;
            }
            .newuser1,.forgotpass{
                cursor: pointer;
            }
        }


        input{
            border-radius: 2px solid black;
            padding: 5px 0px 5px 3px;
            margin: 5px 0px 5px 0px;   
        }
        #nameLable{
            position: relative;
            right: 54px;
        }
        #passLable{
            position: relative;
            right: 51px;
        }
        button{
            margin-top: 5px;
            background-color: #00000099;
            color: white;
            padding: 8px 8px 8px 8px;
            border-radius: 3px;
            cursor: pointer;
            width: 70px;
        }
        .submit{
            position: relative;
            right: 48px;
        }
      }
  }
  


  @media (max-width:320px)  { 
    .loginContainer{
        width: 250px;
    }
   }



