<div class="main">
    <form  [formGroup]="booksForm" (ngSubmit)="onAddbooks()">
    <div class="container">  
        <div class="otherinfo">
            <div class="fname">
                <label for="fname">Book Title</label> <br>
                <input type="text" id="fname" placeholder="book title" formControlName="title">
                <div *ngIf="booksForm.controls['title'].errors && booksForm.controls['title'].touched"
                class="error-msg">
                <div class="error" [hidden]="!booksForm.controls['title'].errors.required">please enter book title</div>
                <div class="error" [hidden]="!booksForm.controls['title'].errors.minLength">please enter minimum 6 char</div>
                </div> 
            </div>
            <div class="lname">
                <label for="lname">ISBN Number</label> <span class="mandetory">*</span><br>
                <input type="text" placeholder="Last name" id="lname" formControlName="isbn">
            </div>
            <div class="workemail">
                <label for="workemail">Price <span class="mandetory">*</span></label> <br>
                <input type="text" placeholder="enter book price" formControlName="price">
            </div>
            <div class="password">
                <label for="lname">Description</label> <span class="mandetory">*</span><br>
                <textarea rows="4" class="descrption" cols="30" placeholder="book description here" formControlName="description"></textarea>
                <div *ngIf="booksForm.controls['description'].errors && booksForm.controls['description'].touched"
                    class="error-msg">
                    <div class="error" [hidden]="!booksForm.controls['description'].errors.required">please enter book Description</div>
                </div> 
            </div> 
            <div class="submit">
                <div class="submitbtn" type="submit"><button>Add</button></div>
            </div>
        </div>
        
    </div>
</form>
</div>