<div class="main">
    <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
    <div class="container">  
        <div class="otherinfo">
            <div class="fname">
                <label for="fname">First Name</label> <span class="mandetory">*</span> <br>
                 <input type="text" id="fname" placeholder="First name" formControlName="fName">
            </div>
            <div class="lname">
                <label for="lname">Last Name</label> <span class="mandetory">*</span><br>
                <input type="text" placeholder="Last name" id="lname" formControlName="lName">
            </div>
            <div class="workemail">
                <label for="workemail">Email <span class="mandetory">*</span></label> <br>
                <input type="email" placeholder="i.e abc@gmail.com" formControlName="email">
            </div>
            <div class="password">
                <label for="pass">Password <span class="mandetory">*</span></label><br>
                <input type="password" placeholder="enter password here" formControlName="password">
            </div> 
            <div class="userType">
                <label for="userType">User Type <span class="mandetory">*</span></label><br>
                <select name="userType" id="userType" formControlName="userType">
                    <option value="admin" selected>Admin</option>
                    <option value="user">User</option>

                </select>
            </div>
            <div class="submit">
                <div class="submitbtn" type="submit"><button>Register</button></div> 
            </div>
        </div>
        
    </div>
</form>
</div>