


<div class="container">
    <form>
      <div class="loginContainer">   
          <div>
              <p>Enter your email and we'll send you a link to reset you password</p>
          </div> 
        <div class="email">
          <label for="fname" id="nameLable"></label> <br>
          <input type="text" id="fname" placeholder="Enter your Email" >
          
        </div>
        
        <div class="submit">
          <button type="submit">Submit</button>
        </div>
  
        <div class="newUser">
            <div class="forgotpass">
                <span [routerLink]="['/']">Back to Login?</span>
            </div>
        </div>
      </div>
    </form>
  </div>
  
  