
.container {
    background-image: url("../../../assets/bg.jpg");
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .error {
        font-size: 15px;
     }
    
     .error-msg{
        color: red;
        font-size: 12px;
    }
    .loginContainer {
        height: 150px;
        width: 300px;
        background: var(--background);
        padding: 50px;
        border-radius: 10px;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        border: 1px solid black;

        .newUser{
            display: flex;
            justify-content: space-evenly;
            position: relative;
            top: 10px;

            span{
                color: #1b556d;
            }
            .newuser1,.forgotpass{
                cursor: pointer;
            }
        }

        .forgotpass{
            position: relative;
            top: 7px;
        }

        button{
            cursor: pointer;
        }
        input{
            border-radius: 2px solid black;
            padding: 5px 0px 5px 3px;
            margin: 5px 0px 5px 0px;   
        }
        #nameLable{
            position: relative;
            right: 54px;
        }
        #passLable{
            position: relative;
            right: 51px;
        }
        button{
            margin-top: 5px;
            background-color: #00000099;
            padding: 5px 15px 5px 15px;
            border-radius: 3px;

        }
      }
  }
 