


<div class="container">
    <div class="loginContainer">    
      <div class="email">
        <label for="fname" id="nameLable">Login ID</label> <br>
        <input type="text" id="fname" placeholder="First name" >
      </div>
      <div class="password">
        <label for="pass" id="passLable">Password </label><br>
        <input type="password" placeholder="enter password here" >
      </div>
      <div class="submit">
        <button>Login</button>
      </div>

      <div class="newUser">
          <div class="forgotpass">
              <span>Forget Password?</span>
          </div>
          <div class="newuser1">
              <span (click)="newUser()">new user?</span>
          </div>
      </div>
    </div>
</div>