

.main{
    background-image: url("../../../assets/bg.jpg");
    min-height: 64.2vh;
    display: flex;
    align-items: center;
    justify-content: center;

.container{
    width: 375px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 1px solid black;
    background: var(--background);
    border-radius: 2px;
    padding: 7px 0px 7px 0px;

    .mandetory{
        color: red;
    }
    input{
        border-radius: 2px solid black;
        padding: 5px 0px 5px 3px;
        margin: 5px 0px 5px 0px;
        
    }
    
    ::placeholder {
        color: rgb(141, 133, 133);
    }
    label{
       color: black;
    }
    
   
    .personalInfo{
        display: flex;
        margin: 10px 0px 10px 0px;
        flex-direction: row;
        .fname{
            margin-right: 3px;
        }    
        
    }

    .otherinfo{
        display: flex;
        flex-direction: column;
        margin-bottom: 6px;
        input{
            min-width: 250px;
        }
        #userType{
            padding: 5px 0px 5px 3px;
            margin: 5px 0px 5px 0px;
            min-width: 254px;
        }
        div{
            padding: 4px 0px 4px 0px;
        }
        .submit{
           display: flex;
           
           button{
            margin: 5px 0px 0px 4px;
            background-color: #00000099;
            color: white;
            padding: 8px 8px 8px 8px;
            border-radius: 3px;
            cursor: pointer;
            width: 70px;
            
           }

           .backtologin{
              position: relative;
              left: 5px;
              cursor: pointer;
           }
        }
        .descrption{
            width: 250px;
        }
     
    }
   
}
}

