<div class="container">
    <div class="header">
    <nav class="navbar">
      <div class="logoimg">
        <a href="">
          <img src="../app/../assets/logo0.PNG" alt=""   class="logo">
        </a>
      </div>
      <ul class="nav-list" >
        <li class="list-item">
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="list-item"> 
          <a routerLink="/books" routerLinkActive="active">Books</a>
        </li>
        <li class="list-item">
          <a routerLink="/books/addbooks" routerLinkActive="active">Add Books</a>
        </li>
        <li class="list-item">
          <a routerLink="/newuser" routerLinkActive="active">Register</a>
        </li>
        <li class="list-item">
          <a routerLink="aboutus" routerLinkActive="active">About us</a>
        </li>
        <li class="list-item">
          <a routerLink="/auth" routerLinkActive="active">Login</a>
        </li>
        <li  class="list-item">
          <a id="mode" (click)="toggleTheme()" style="font-size: 16px;cursor: pointer;">{{themeText}}</a>
        </li>
      </ul>
      <div class="menu">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
      </div>
    </nav>
    
    <div class="content">
        <router-outlet></router-outlet>
        <div class="push"></div>
      </div>
      <main>
        <footer>
          <div class="container1">
            <div class="ftr">
              <h3  class="company">Company</h3>
              <ul class="fcontent">              
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
              </ul>
            </div>
            <div class="ftr">  
              <h3 class="policies">Policies</h3>
              <ul class="fcontent">              
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Copyright policy</a></li>
              </ul>
            </div>
            <div class="ftr">  
              <h3 class="help">Help</h3>
              <ul class="fcontent">              
                <li><a href="">Shiping</a></li>
                <li><a href="">Contact us</a></li>
              </ul>
            </div>
          </div>
        </footer>
      </main>
  </div>
  
  