
.container{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    
  }
  .header{
    flex-shrink: 0;
    flex-grow: 0;
  }
  .content{
    flex-shrink: 1;
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
  }
  .navbar{
    width: 100%;
    background: #212121;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    margin-left: 0px;
    .logoimg{
      position: relative;
      left: 20px;
    }
    .nav-list{
      list-style-type: none;
      .list-item{
        display: inline-block;
        // padding: 0px 7px;
      }     
    }
    
    .logo{
      height: 36px;
      
    }

    .menu{
      display: none;
    }
    .menu-line{
      width: 20px;
      height: 3px;
      background-color: white;
      margin-bottom: 4px;
    }
    @media all and (max-width: 480px){
      .navbar{
        flex-direction: column;
        
      }
      .menu{
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
      }    
    }
  }
  

  @media all and (max-width: 480px){
    .navbar{
      flex-direction: column;
      .list-item{
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
       
      }
    }
  } 


main{
  height: auto;
  footer{ 
    background: #212121;
    flex-shrink: 0;
  
    .container1{
      
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content:space-evenly;
      flex-wrap: wrap;
      font-family: 'Times New Roman', Times, serif;
      .ftr{
        h3{
          font-size: 18px;
          color: #fff;
          margin-bottom: -12px;
        }
        .company{
          position: relative;
          left:39px
        }
        .policies{
          position: relative;
          left:40px
        }
        .help{
          position: relative;
          left:40px
        }
        flex-basis: 18%;
      }
      .fcontent{
        list-style: none;
        a{
          text-decoration: none;
          color: #fff;
          opacity: .6;
          font-size: 15px;
        }
      }

    }
    @media all and (max-width: 480px){
      .container1{
        flex-direction: column;
      }
      .cmp{
        position: relative;
        left: -21px;
      }
      .hel{
        position: relative;
        left: -17px;
      }
    } 
  }
}


    
// end f css
  nav a {
    padding: 0px 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
  }
  
  nav a:visited, a:link {
    color: #f8f8f8;
  }
  nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }
  nav a.active {
    color: #039be5;
  }
  
  