.container{
    display: flex;
    justify-content: center;
    .buttons{
        display: flex; 
        button{
            margin-left: 6px;
            padding: 8px;
            border-radius: 2px;
            border: none;
        }
        .increment{
            background-color: var(--secondary);
        }
        .decrement{
            background-color: var(--secondary);
        }
        .reset{
            background-color: var(--secondary);
        }
    }
}