
.parallax {
  margin-top: -2px;
  background-image: url("../../assets/bookstore2.jpg");
  // min-height: 424.5px;
  min-height: 100vh; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .text{
    font-family: 'Times New Roman', Times, serif;
  }
  .buy{
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
  }
  .book{
    position: relative;
    top: 40px;
    left: -103px;
    font-size: 50px;
    color: white;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .buy{
        top: 75px !important;
  }
  .book{
    top: 100px !important;
  }
}
