
<div class="parallax">
  <div class="text" style="display: flex;justify-content: center;position: relative;
  top: 250px;left: -92px;">
    <p style="color: white;font-size: 50px;">Buy Your Favourite</p>
    <p style="position: relative;
        top: 40px;
    left: -103px;font-size: 50px;color: white;
"> Book From Here</p>
  </div>
</div>


<div class="contain">
  <div class="fiction">Fiction</div>
  <div class="non-fiction">Non fiction</div>
  <div class="competative">competative Exams</div>
  <div class="children">children</div>
  <div class="srituality">Sprituality</div>
</div>
  <div class="parallax1"></div>